html {
  font-family: "Chakra Petch", sans-serif;
  font-family: "Merriweather", serif;
}

.header {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 24px;
}

video {
  width: 100px;
}

.colmar {
  font-weight: bold;
}

.header img {
  width: 50px;
  height: 50px;
}

.navbar {
  flex: 1;
  text-align: right;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navbar li a {
  color: black;
  text-decoration: none;
}

.element-one {
  background: #d3d3d3;
  color: #2b2d2f;
  display: flex;
  margin-bottom: 24px;
}

.element-one img {
  max-width: 60%;
  margin: 32px 24px;
}

.element-one a {
  border: 1px solid black;
  display: inline-block;
  text-decoration: none;
  padding: 12px 34px;
  font-size: 13px;
  background: #2b2d2f;
  position: relative;
  color: white;
}

.learn {
  justify-content: center;
  align-items: center;
  display: inline-block;
  text-align: left;
  margin: auto auto;
}

.element-two {
  background: white;
  display: flex;
  width: 100%;
}

.e2container {
  width: 60%;
  float: left;
  margin: 0 24px;
}

.element-two img {
  width: 100%;
}

.rpb {
  width: 100%;
  margin-left: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}
.rpb:hover {
  background-color: lightslategray;
}

.practcont {
  align-items: center;
  justify-content: center;
  width: 50%;
}

.practcont h4 {
  font-size: 18px;
}

.right-practice_box img {
  max-width: 35%;
  height: auto;
  margin: 16px;
  margin-top: 0;
}

.element-three {
  background: #d3d3d3;
  margin-top: 32px;
}

.element-three h1 {
  text-align: center;
  margin: 32px auto;
  top: 32px;
}

.bigcoursescontainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  margin-bottom: 400px;

  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 32px 72px;
}

.courses {
  background-color: white;
  margin: 16px;
  max-width: 100%;
}

.bigcoursescontainer img {
  max-width: 100%;
  height: auto;
}

.courses h3,
p {
  margin: 16px;
}

.thesis {
  display: inline-flex;
  flex-wrap: wrap;
}

.thesis h1 {
  margin: 32px auto;
}

.thesis video {
  width: 100%;
}

.leftthesisbox {
  width: 60%;
}

.right-thesis-box {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

.thesis img {
  width: 35%;
}
